<div class="background-container">
    <!-- <div class="content"> -->
      <div class="container">
        <div class="box" (click)="ejecutarFuncion()">
          <div class="box-content">
            <h2>Linea deportiva</h2>
          </div>
        </div>
        
        <div class="box" (click)="ejecutarFuncion()">
          <div class="box-content">
            <h2>Linea Overside</h2>
          </div>
        </div>
        
        <div class="box" (click)="ejecutarFuncion()">
          <div class="box-content">
            <h2>Recuadro 3</h2>
          </div>
        </div>
      </div>
  <!-- </div> -->
</div>