<div class="background-container">
<body>

        <div class="content">
            
            <div class="component-class">
                <div class="container">
                <h1 class="centered-heading">Sobre nosotros</h1>
            </div>
            <div class="container">
                <p class="text-info">
                    Somos una empresa que nacio en 2023 con la idea de innovar en la manera en que se compra ropa via internet, queremos que tengas la mejor experiencia en este proceso,
                    hemos abierto tres lineas de ropa que se ajustan segun a tu necesidad.<br>
                    <br>
                    La primera linea es ropa deportiva, esta se diseña para que al momento de que ejecutes cualqueir deporte esta se adapte a tus necesidades y gusto.<br>
                    <br>
                    La segunda linea es ropa Overside, esta ropa trae un nuevo estilo con diseños clasicos y sencillos pero muy comodos <br>
                    <br>
                    Estamos trabajando en una tercera linea para ropa clasica.<br>
                    
                </div>
                <div class="container">
                    <h1 class="centered-heading">Concatanos</h1>        
                </div>
                <div class="container">
                    <nav>
                        <ul>
                            <li><a href="https://api.whatsapp.com/send?phone=+573014896750&text=Hola,%20me%20gustaría%20saber%20sobre%20su%20ropa">
                                Whatsapp</a></li>
                                <li><a>Instagram</a></li>
                                <li>nuestro correo: <strong>dmbecerra98@gmail.com</strong></li>
                        </ul>
                    </nav>
                </div>
            </div>
    </div>
    <footer  class="footer">
        <p>&copy; 2023. Todos los derechos reservados.</p>
    </footer>
</body>
</div>